body {
    background-color: #f0f2f5;
}
.design {
    width: 30%;
    padding: 25px;
    margin: 0 auto;
    transform: translateY(35%);
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.1s;
}
  
.design:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .top {
      margin-top: -15%;
  }