<section class="middle">
    <ul class="nav-below">
        <li>
            <a href="/books/libBooks">Books</a>
        </li>
        <li>
            <a href="http://localhost:5000/books/latest">New Arrivals</a>
        </li>
        <li>
            <a href="">BestSellers</a>
        </li>
        <li>
            <a href="">TextBooks</a>
        </li>
        <li>
            <a href="">Award Winners</a>
        </li>
        <li>
            <div class="dropdown">
                <div class="drop">
                    <a class="btn btn-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Featured Authors
                    </a>

                </div>
                <div class="dropdown-menu drop_down down">
                    <a class="dropdown-item text-warning" href="#">Shashi Tharoor</a>
                    <a class="dropdown-item text-warning" href="#">
                        Stephen Coonts</a>
                    <a class="dropdown-item text-warning" href="#">Arundhati Roy</a>
                    <a class="dropdown-item text-warning" href="#">Arundhati Roy</a>
                    <a class="dropdown-item text-warning" href="#">Arundhati Roy</a>
                    <a class="dropdown-item text-warning" href="#">Arundhati Roy</a>
                    <a class="dropdown-item text-warning" href="#">Arundhati Roy</a>
                </div>
            </div>
            {{!-- </div> --}}
        </li>
    </ul>


</section>