{{!-- navbar partials --}}
<style>
    .nav-items{
        color: #ffffff;

    }
    
</style>
{{!-- <div class="navbar navbar-expand-lg navbar-dark bg-primary"> --}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/books/home">BookShelf</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/books/home">Home<span
                            class="sr-only"></span></a>
                </li>
                <li class="nav-items">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/signup">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/login">Login {{userName}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Log Out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/profile">{{userName}}</a>
                </li>
            </ul>
            
            <ul class="navbar-nav mr-3">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart</a> 
                </li>
            </ul>
            
            <form action="/books/search"  class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" id="searchName" name="title" placeholder="Search a book">
                <input type="submit" class="btn btn-outline-warning" value="Search">
            </form>
        </div>
    </nav>
</div>